body {
  font-family: sans-serif;
  position: relative;
  margin: 0;
  min-height: 91.5vh; /* Usa vh (viewport height) para cubrir toda la altura de la ventana */
  display: flex;
  flex-direction: column;
  padding-bottom: 90px; /*El alto del footer*/
}

* {
margin: 0;
padding: 0;
box-sizing: border-box; /* Añadido para un mejor manejo de los márgenes y paddings*/
}

/* --------------------------> NAV        <------------------------------------------------------*/
nav {
  background: rgb(46,125,50);
  background: linear-gradient(90deg, rgba(46,125,50,1) 0%, rgba(19,186,55,1) 57%, rgba(174,213,129,1) 100%);
  color: #fff;
  font-weight: 600;
  padding: 30px 0;
}

nav ul { /*Muestra la disposicin de botones para notebook o desktop*/
  display: flex; 
  justify-content: left;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

nav li a {  /*Determina la propiedad del texto del botón*/ 
  display: block;
  color: #fff;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

nav li a:hover { /*Determina la propiedad al posicionarse en el botón*/
  color: #2E7D32;
  background-color: #AED581;
  transition: all .38s ease;
  border-radius: 50px;
}

nav label { /*No muestra el valor de la etiqueta ☰*/
  display: none;
}

#menu {
  display: none;
}

@media (max-width: 1130px) {/*cuando el dispositivo es máximo es de 768px*/
  
    input:checked ~ ul{ /*muestra el contenido de todas las etiquetas ul*/
     display: block;
    }
    
    input:checked ~ label { /*muestra todo el contenido de las etiquetas label*/
     background: #084301;
    }
    
    nav li{ /*Determina la propiedad de cada botón para mobile*/
     margin: 0;
     text-align: left;
    }
    
    nav label{ /*dibuja la etiqueta label ☰*/
     box-sizing: border-box;
     display: flex;
     /*border-radius: 5px;*/
     width: 30px;
     height: 30px;
     line-height: 30px;
     font-weight: bold;
     text-align: center;
     justify-content: center;
     user-select: none;
     /*background-color: cadetblue;*/
    }
    
    nav ul{/*deja de mostrar el bloque contenedor de botones horizontales*/
      display: none;
    }
    
    nav ul li a{ /**/
     display: flex;
     text-decoration: none;
     color: #fff;
    }
  }

/* --------------------------> FIN NAV    <------------------------------------------------------*/

/* -------------------------->  SECCIÓN INICIO  <------------------------------------------------*/
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin: auto;
  padding: 40px 20px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(67,84,47,1) 89%, rgba(67,84,48,1) 100%);
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  color: white; /* Para que el texto sea legible sobre el fondo */
  font-size: 24px;
  font-weight: 600;
  position: relative; /* Añadido para el overlay */
}

  /* -------------------------->  FIN SECCIÓN INICIO  <----------------------------------------*/

/* -------------------------->  MAIN CONTENT  <------------------------------------------------------*/

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  }

.side-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
  vertical-align:middle;
  padding: 20px;
}

.side-content {
  background: #b0d5b3; /* Verde claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  margin-bottom: 20px; /* Espacio entre contenedores */
}

.side-content h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.side-content p {
  text-align: left;
  font-size: 16px;
  color: #333;
}
  
  @media (max-width: 763px) {
  .main-content {
    padding: 20px 10px;
    width: 100%; /* Ajuste de ancho responsivo */
    display: flex;
    flex-direction: column;
    }

  .side-container-wrapper {
    display:flex;
    flex-direction: column;
    align-items:center;
    vertical-align:middle;
    padding: 20px;
  } 
  }

/* -------------------------->  FIN MAIN CONTENT  <------------------------------------------------------*/

/* -------------------------->  SECCIÓN GAME CONTENT  <------------------------------------------------------*/

.game-content {
  padding: 25px;
  border-radius: 10px;
  background: rgb(46,125,50);
  background: linear-gradient(90deg, rgba(46,125,50,1) 0%, rgba(19,186,55,1) 57%, rgba(174,213,129,1) 100%);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
  
@media (max-width: 763px) { 

.game-content {
  display:flex;
  flex-direction: column;
  align-items:center;
  vertical-align:middle;
  margin-bottom: 30px;
} 
}


.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card{
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.card.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.card .view{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.25s linear;
}
.card .front-view img{
  width: 19px;
}
.card .back-view img{
  max-width: 45px;
}
.card .back-view{
  transform: rotateY(-180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}
.card.flip .front-view{
  transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
  .cards{
    height: 350px;
    width: 350px;
  }
  .card .front-view img{
    width: 17px;
  }
  .card .back-view img{
    max-width: 40px;
  }
}

@media screen and (max-width: 530px) {
  .cards{
    height: 300px;
    width: 300px;
  }
  .card .front-view img{
    width: 15px;
  }
  .card .back-view img{
    max-width: 35px;
  }
}
/* --------------------------> FIN JUEGO  <------------------------------------------------------*/


.button {
  background-color: #2E7D32;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  position: relative; /* Asegura que esté por encima del overlay */
  z-index: 2; /* Asegura que esté por encima del overlay */
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #AED581;
  transition: all 0.38s ease;
}

/* FOOTER */
footer {
  background: #0e8400; /* Color de fondo, ajusta al que prefieras */
  color: white; /* Color de texto */
  text-align: center; /* Alineación del texto */
  padding: 20px 0; /* Espaciado superior e inferior para darle más espacio */
  font-size: 16px; /* Tamaño de fuente */
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  position: absolute;
  bottom: 0; /* Asegura que el footer se mantenga al fondo */
  left: 0;
}

footer p {
  margin: 0; /* Elimina el margen por defecto del párrafo */
  line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
}
/* FOOTER */

