body {
  font-family: sans-serif;
  position: relative;
  margin: 0;
  min-height: 91.5vh; /* Usa vh (viewport height) para cubrir toda la altura de la ventana */
  display: flex;
  flex-direction: column;
  padding-bottom: 90px; /*El alto del footer*/
}

* {
margin: 0;
padding: 0;
box-sizing: border-box; /* Añadido para un mejor manejo de los márgenes y paddings*/
}

section {
display: block;
unicode-bidi: isolate;
}

.titulo {
display: flex;
justify-content: center;
color: #2E7D32; /* Color verde más suave y eco-sustentable */
font-size: 28px; /* Tamaño de fuente aumentado para mayor visibilidad */
font-weight: bold;
margin-bottom: 20px; /* Añadido para espaciado */
}

.seccion-inicio {
background-color: #F3F3F3;
height: auto; /* Ajuste automático de altura según contenido */
max-width: 800px;
margin: 35px auto; /* Centrado horizontal */
border-radius: 20px;
padding: 40px 20px; /* Reducido para mejorar en pantallas pequeñas */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para mejor apariencia */
border: 1px solid #AED581; /* Añadido borde con color verde suave */
}

@media (max-width: 1130px) {
.seccion-inicio {
  padding: 20px 10px;
  width: 90%; /* Ajuste de ancho responsivo */
  }
}

.datos-inicio {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
margin-top: 10px;
flex-wrap: wrap; /* Añadido para manejar mejor en pantallas pequeñas */
}

@media (max-width: 1130px) {
.datos-inicio {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datos-inicio img {
  display: none;
}
}

.seccion-inicio div ul {
list-style: none;
color: #5E5E5E;
line-height: 1.8; /* Incrementado para mejorar la legibilidad */
font-size: 20px; /* Aumentado para mejor visibilidad */
}

/*SECCIÓN PROPUESTA (PROYECTO)*/

.seccion-propuesta {
  background-color: #e7e7e7;
  height: auto; /* Ajuste automático de altura según contenido */
  max-width: 73%;
  margin: 35px auto; /* Centrado horizontal */
  padding: 40px 20px; /* Reducido para mejorar en pantallas pequeñas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para mejor apariencia */
  }
  
  @media (max-width: 1130px) {
  .seccion-propuesta {
    padding: 20px 10px;
    width: 90%; /* Ajuste de ancho responsivo */
    }
  }
  
  .datos-propuesta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap; /* Añadido para manejar mejor en pantallas pequeñas */
  }
  
  @media (max-width: 1130px) {
  .datos-propuesta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  
  .datos-inicio img {
    display: none;
  }
  }
  
  .seccion-propuesta div ul {
  list-style: none;
  color: #5E5E5E;
  line-height: 1.8; /* Incrementado para mejorar la legibilidad */
  font-size: 20px; /* Aumentado para mejor visibilidad */
  }

/*FIN SECCIÓN PROPUESTA (PROYECTO)*/

/*SECCIÓN (AVANCE)*/

.seccion-avance {
  background-color: #e7e7e7;
  height: auto; /* Ajuste automático de altura según contenido */
  width: 73%;
  margin: 35px auto; /* Centrado horizontal */
  padding: 40px 20px; /* Reducido para mejorar en pantallas pequeñas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para mejor apariencia */
  }
  
  @media (max-width: 1130px) {
  .seccion-avance {
    padding: 20px 10px;
    width: 90%; /* Ajuste de ancho responsivo */
    }
  }
  
  .datos-avance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  margin-top: 10px;
  flex-wrap: wrap; /* Añadido para manejar mejor en pantallas pequeñas */
  }
  
  @media (max-width: 1130px) {
  .datos-avance {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .datos-inicio img {
    display: none;
  }
  }
  
  .seccion-propuesta div ul {
  list-style: none;
  color: #5E5E5E;
  line-height: 1.8; /* Incrementado para mejorar la legibilidad */
  font-size: 20px; /* Aumentado para mejor visibilidad */
  }

/*FIN SECCIÓN (AVANCE)*/

ul {
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
unicode-bidi: isolate;
}

li {
display: list-item;
text-align: -webkit-match-parent;
unicode-bidi: isolate;
}

.datos-inicio img {
border-radius: 20px;
border: #81C784 3px solid; /* Cambiado el color del borde a un verde suave */
}

img {
overflow-clip-margin: content-box;
overflow: clip;
max-width: 100%; /* Para asegurar que las imágenes no excedan su contenedor */
}

div {
display: block;
unicode-bidi: isolate;
}
/* UADE FIN */

nav {
  background: rgb(46,125,50);
  background: linear-gradient(90deg, rgba(46,125,50,1) 0%, rgba(19,186,55,1) 57%, rgba(174,213,129,1) 100%);
color: #fff;
font-weight: 600;
padding: 30px 0;
}

nav ul { /*Muestra la disposicin de botones para notebook o desktop*/
  display: flex; 
  justify-content: left;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

nav li a {  /*Determina la propiedad del texto del botón*/ 
  display: block;
  color: #fff;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

nav li a:hover { /*Determina la propiedad al posicionarse en el botón*/
  color: #2E7D32;
  background-color: #AED581;
  transition: all .38s ease;
  border-radius: 50px;
}

nav label { /*No muestra el valor de la etiqueta ☰*/
  display: none;
}

#menu {
  display: none;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin: auto;
  padding: 40px 20px;
  background: url('img/Flipbox/EcoImg.png') no-repeat center center;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  color: white; /* Para que el texto sea legible sobre el fondo */
  position: relative; /* Añadido para el overlay */
}


.contenedor-avances{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  padding: 60px 40px; /* Aumentado para más espacio interno */
  background: url('img/Flipbox/Sequia.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-avances::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Añade un overlay oscuro */
  z-index: 0;
}

.contenedor-integrantes {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  padding: 60px 40px; /* Aumentado para más espacio interno */
  background: url('img/Flipbox/Derretimiento.png') no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-integrantes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Añade un overlay oscuro */
  z-index: 0;
}
.contenedor{
  display: flex;
  margin-top: 20px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  }

.contenedor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  backdrop-filter: blur(10px); /* Desenfoque del fondo */
  border-radius: 20px; /* Coincide con el borde del contenedor */
  z-index: 1; /* Asegura que el overlay esté por debajo del contenido */
}

.imglogo img {
  width: 400px; /* Tamaño aumentado */
  margin-bottom: 20px; /* Espaciado debajo del logo */
  position: relative; /* Asegura que esté por encima del overlay */
  z-index: 2; /* Asegura que esté por encima del overlay */
}

.imglogoavance img {
  width: auto; /* Tamaño aumentado */
  margin-top: -20px;
   position: relative; /* Asegura que esté por encima del overlay */
  z-index: 2; /* Asegura que esté por encima del overlay */
}


  .contenedor2{
    display: flex;
    margin-top: 20px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    }

.textodescrip {
  font-size: 24px; /* Tamaño de fuente aumentado para mayor visibilidad */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el texto */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; /* Espaciado debajo del texto */
  position: relative; /* Asegura que esté por encima del overlay */
  z-index: 2; /* Asegura que esté por encima del overlay */
}

.textodescrip-avances {
  font-size: 19px; /* Tamaño de fuente aumentado para mayor visibilidad */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el texto */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; /* Espaciado debajo del texto */
  position: relative; /* Asegura que esté por encima del overlay */
  z-index: 2; /* Asegura que esté por encima del overlay */
}

.textodescrip-avances h1, .textodescrip-avances h2 {
  color: #4CAF50; /* Color verde para títulos, ajustable según tu paleta */
}
.textodescrip-avances p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: auto;
}


.textodescrip-integrantes {
  position: relative; /* Para asegurarse de que el texto esté por encima del overlay */
  max-width: 900px;
  margin: auto;
  color: #fff; /* Cambia el color del texto a blanco para mejor contraste */
  z-index: 1;
}


.textodescrip-integrantes h1, .textodescrip-integrantes h2 {
  color: #4CAF50; /* Color verde para títulos, ajustable según tu paleta */
}
.textodescrip-integrantes p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: auto;
}

.button {
  background-color: #2E7D32;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  position: relative; /* Asegura que esté por encima del overlay */
  z-index: 2; /* Asegura que esté por encima del overlay */
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #AED581;
  transition: all 0.38s ease;
}

  /* Flip-Box*/
  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 5px;
  }

  /* Flip-Box 1*/
  .flip-box-inner1{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
   }
  
  .flip-box:hover .flip-box-inner1 {
    transform: rotateY(180deg);
  }
  
  .flip-box-front1, .flip-box-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px; 
  }
  
  .flip-box-front1 {
    background-image: url(img/Flipbox/Sequia.jpg);
    color: White;
    text-align: center;
    align-content: center;
  }
  
  .flip-box-back1 {
    background: rgb(177,91,29);
background: linear-gradient(90deg, rgba(177,91,29,1) 0%, rgba(204,120,60,1) 58%, rgba(233,164,115,1) 100%);   
    color: #fff;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    align-content: center;
  }
  .flip-box-back1 p{
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
  }
/*Flipbox 2*/
  .flip-box-inner2{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
   }
  
  .flip-box:hover .flip-box-inner2 {
    transform: rotateY(180deg);
  }
  
  .flip-box-front2, .flip-box-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px; 
  }
  
  .flip-box-front2 {
    background-image: url(img/Flipbox/Derretimiento.png);
    color: White;
    text-align: center;
    align-content: center;
  }
  
  .flip-box-back2 {
    background: rgb(1,83,125);
    background: linear-gradient(90deg, rgba(1,83,125,1) 0%, rgba(56,149,196,1) 39%, rgba(128,203,241,1) 100%);
    color: #fff;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    align-content: center;
  }
  .flip-box-back2 p{
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
  }

  /*Flipbox 3*/
  .flip-box-inner3{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner3 {
    transform: rotateY(180deg);
  }
  
  .flip-box-front3, .flip-box-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
  }
  
  .flip-box-front3 {
    background-image: url(img/Flipbox/biodiversidad.jpg);
    color: White;
    text-align: center;
    align-content: center;
  }
  
  .flip-box-back3 {
    background: rgb(208,34,0);
    background: linear-gradient(90deg, rgba(208,34,0,1) 0%, rgba(254,136,51,1) 46%, rgba(252,207,82,1) 100%);
    color: #fff;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    align-content: center;
  }
  .flip-box-back3 p{
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
  }

/* NOSOTROS - TEAM */

.team{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-contenido{
  width: 100%;
  max-width: 1240px;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}
.team-contenido img{
  width: 100%;
  border-radius: 10px;
  height: auto;
  margin-bottom: 15px;
}
.box{
  width: 200px;
  height: auto;
  border-radius: 10px;
  background: rgb(14,1322,0);
  background: linear-gradient(90deg, rgba(14,132,0,1) 0%, rgba(19,186,55,1) 58%, rgba(97,233,126,1) 100%);
}
.box h3{
  font-size: 18 px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.box h4{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.box a{
  text-decoration: none;
}

.box h4{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.box h4:hover{
  background-color: #084301;
  border:none;
}


/*CONTACTO - FORM*/

form{
width: 600px;
margin: auto;
padding: 10px 20px;
box-sizing: border-box;
margin-top: 10px;
}

input, textarea {
width: 100%;
margin-bottom:20px;
box-sizing: border-box;
}

textarea{
min-height: 100px;
max-height: 200px;
max-width: 100%;
box-sizing: border-box;  
}

/*CATÁLOGO*/

.container-img{
width: 100%;
max-width: 1200px;
margin: auto;
margin-top: 60px;
margin-bottom: 60px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 250px;
grid-gap: 30px;
}

.container-img .box-img a{
text-decoration: none;
font-size: 18px;
font-weight: 600;
color: #2d1476;
}

.container-img .box-img figure{
max-width: 200px;
height: 100%;
text-align: center;
}

.container-img .box-img figure:hover{
transition: all .38s ease;
transform: translateY(-10px);
opacity: 0.6;
}

.container-img .box-img img{
width: 200px;
height: 200px;
}

/* FOOTER */

footer {
  background: #0e8400; /* Color de fondo, ajusta al que prefieras */
  color: white; /* Color de texto */
  text-align: center; /* Alineación del texto */
  padding: 20px 0; /* Espaciado superior e inferior para darle más espacio */
  font-size: 16px; /* Tamaño de fuente */
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  position: absolute;
  bottom: 0; /* Asegura que el footer se mantenga al fondo */
  left: 0;
}

footer p {
  margin: 0; /* Elimina el margen por defecto del párrafo */
  line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
}
/* FOOTER */

/* <--------------------------------------RESPONSIVE-------------------------------------->*/

@media (max-width: 768px) {/*cuando el dispositivo es máximo es de 768px*/
  
  /*MENÚ*/

    input:checked ~ ul{ /*muestra el contenido de todas las etiquetas ul*/
     display: block;
    }
    
    input:checked ~ label { /*muestra todo el contenido de las etiquetas label*/
     background: #084301;
    }
    
    nav li{ /*Determina la propiedad de cada botón para mobile*/
     margin: 0;
     text-align: left;
    }
    
    nav label{ /*dibuja la etiqueta label ☰*/
     box-sizing: border-box;
     display: flex;
     /*border-radius: 5px;*/
     width: 30px;
     height: 30px;
     line-height: 30px;
     font-weight: bold;
     text-align: center;
     justify-content: center;
     user-select: none;
     /*background-color: cadetblue;*/
    }
    
    nav ul{/*deja de mostrar el bloque contenedor de botones horizontales*/
      display: none;
    }
    
    nav ul li a{ /**/
     display: flex;
     text-decoration: none;
     color: #fff;
    }
    
    .contenedor{
     display: block;
     margin-top: 20px;
     width: 90%;
     margin: auto;
     }

     .contenedor2{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      max-width: 100%;
      margin: auto;
      padding: 20px;
      justify-content: center;
      align-items: center;
      text-align: justify;
      }
    
     /*HOME*/

    .imglogo{ /*logo del home responsive*/
     text-align: center;
     }
    
    .textodescrip{
      font-size: 22px;
      text-align: justify;
      margin: 5px;
     }

     .textodescripava{
      font-size: 22px;
      text-align: justify;
      margin: 5px;
     }

    
    .textodescrip button{
      background-color: #084301;
      justify-content: center;
      align-items: center;
      border: none;
      color: white;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      }
    
    /*INTEGRANTES*/

    .team{
      width: 90%;
      height: auto;
      padding: 90px 2%;

      }

      .team-contenido{
        display: flex;
        flex-direction: column;
      }

  /*CONTACTO RESPONSIVO*/

  form{
    width: 100%;
  }

  /*CATÁLOGO*/

  .container-img{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center; 
  }

  .container-img .box-img figure{
    height: 200px;
      
  }
}
    